* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* border: 2px solid purple; */
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.main-container {
  border: 2px solid red;
  width: 300px;
  margin: 3rem auto;
  padding: 0 0.5rem;
}

.bold {
  font-weight: 800;
}

.separate-items {
  display: flex;
  justify-content: space-between;
}

.title {
  letter-spacing: 0.12rem;
}
