* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  border: 2px solid red;
  width: 300px;
  margin: 0 auto;
}
