* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* border: 2px solid purple; */
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

p,
h2 {
  font-size: 16px;
}
/* class selectors */

.main-container {
  border: 2px solid black;
  width: 300px;
  margin: 1.5rem auto;
  padding: 0 7px;
}

.fine-print p {
  font-size: 0.65rem;
}

/* aesthetic classes */

.bold {
  font-weight: 800;
}

.M-bold {
  font-weight: 600;
}

.separate-items {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.title {
  letter-spacing: 0.11rem;
  text-align: center;
  margin: -5px 0;
}

.underline {
  border-bottom: 1px solid black;
}

.large {
  background-color: black;
  height: 10px;
}

.medium {
  background-color: black;
  height: 5px;
}

.V-spacing {
  margin-bottom: 0.12rem;
}

.X-font {
  font-size: 2rem;
}

.indent {
  margin-left: 1rem;
}
